DEBUG=true

PORT=8080

JWT_SECRET_KEY=

DATABASE_DRIVER=postgres
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/ecommerce?sslmode=disable
PGDATABASE=ecommerce
PGHOST=localhost
PGPASSWORD=postgres
PGPORT=5432
PGUSER=postgres

REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0